.bgimg{
    width: 100%;
    height: 220px;
    background: url("../images/page_bg1.png") no-repeat;
    background-size: cover;
    /* margin-top: -20px; */
}

.txtlist{
    width: 1140px;
    overflow: hidden;
    border: solid 0px red;
    margin: 0 auto;
}
.txtlist .tleft{
    float: left;
    width: 752px;
    border: solid 0px red;
}

.txtlist .tleft .txtbox{
    background-color: #fff;
    padding: 10px;
    margin: 20px 0;
}
.txtlist .tleft .txtbox .tlttip{
    font-size: 20px;
    font-weight: 700;
    margin: 5px;
}
.txtlist .tleft .txtbox .tltframe {
    overflow: hidden;
    border: solid 0px red;
    margin: 20px 0;
}
.txtlist .tleft .txtbox .tltframe .tltfleft{
    float: left;
    margin: 0;
}

.txtlist .tleft .txtbox .tltframe .tltfleft img{
    width: 300px;
  
}

.txtlist .tleft .txtbox .tltframe .tltfright{
    float: right;
    margin: 5px;
    padding: 5px;
    width: 400px;
    font-size: 18px;
}



