/* 通用效果 */
h3,ul,p,table,body,figure{
    padding: 0;
    margin: 0;
}
body{
    background-color: #ccc;
}
ul{
    list-style-type: none;
}
/* 公用样式 */
.fl{
    float: left;
}
.fr{
    float:right;
}
.cb{
    clear: both;
}
a{
    text-decoration: none;
    color: #666;
}
/* 编写导航条样式 */
#nav{
    width: 100%;
    /* width: max-content */
    /* height: 80px; */
    /* border: solid 1px red; */
    color: #fff;
    background-color: #555;
}
#nav .con{
    width: 1140px;
    height: 80px;
    margin: 0 auto;
    /* background-color: #666; */
    /* position: relative; */
    line-height: 80px;
    overflow: hidden;
    border: solid 0px red;
    background-color: #555;
    
}
#nav .con .log{
    float: left;
    /* position: absolute; */
    margin: 0 20px;
    /* left: 80px; */
    color: rgb(137, 220, 235);
    font-size: 28px;
    font-family:Arial，"黑体";
    font-weight: 700;
}
#nav .con ul{
    /* position: absolute; */
    /* list-style-type: none; */
    margin:0 122px;
    /* left: 500px; */
    float: left;
    overflow: hidden;
}
#nav .con ul li{
    float: left;
    /* padding: 0 20px; */
    width: 80px;
    text-align: center;
    padding: 0 2px;
}
#nav .con .act{
    /* position: absolute; */
    float:right;
    margin: 10px 20px 0 0;
    /* right: 200px; */
    /* color: black; */
}
#nav .con .act>a{
    color: #fff;
    margin: 0 10px;
}
#nav .focus{
    color: rgb(137, 220, 235);
}


.title{
    width: 1140px;
    border-bottom: 1px solid #000;
    margin: 20px auto;
    overflow: hidden;
}
.title .ltip,.title .rtip{
    float: left;
    height: 42px;
    line-height: 42px;
}
.title .ltip{
    width: 100px;
    text-align: center;
    background-color: #000;
    color: #fff;
    font-size: 18px;
}
.title .rtip{
    margin-right: 10px;
    float: right;
    line-height: 42px;
}



.tright {
    float:right;
    width: 365px;
    background: #fff;
    /* padding: 10px; */
    margin: 20px 10px;
}
.tright .trh3{
    border-bottom: #000 1px solid;
    width: 90px;
    margin: 20px 30px;
    height: 50px;
    line-height: 60px;
}

.tright .trimgbox{
    margin: 20px 30px;
}
.tright .trimgbox .triimg{

}
.tright .trimgbox .triimg img{
    width: 300px;
}